:root {
  --dark-color: rgba(86, 23, 23, 0.871);
  --red-color: #eb2020;
  --white-color: #f0e8e9;
  --reddish-color: #e10000;
  --section-color: #e9ecef5e;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.25rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  --black: #222;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--white-color);
  color: var(--reddish-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--reddish-color);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--red-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--red-color);
}
.navbar .search {
  border-left: 1px solid var(--red-color);
}
.navbar .search svg {
  color: var(--red-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--red-color);
}
/* End Navbar */

/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */

/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--red-color);
}
.features .feat h4 {
  color: var(--reddish-color);
}
/* End Features */

/* Start Our Work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--white-color);
  color: var(--reddish-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--white-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* End Our Work */

/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */

/* Start Team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--reddish-color);
}
.team .box h4 {
  background-color: var(--red-color);
}
/* End Team */

/* Start Project */
.project {
  background-color: var(--dark-color);
}
/* End Project */

.responsive .container {
  max-width: 1310px;
}

/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--red-color);
}
.footer .copyright div span {
  color: var(--reddish-color);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */

.banner {
  position: center;
  min-height: 30rem;

}
.banner .row {
  margin-top: 1.35rem;
}
.banner .navbar-brand {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  margin-left: 50%;
  margin-right: 50%;
}
.banner .nav {
  margin-right: 10%;
}
.banner .nav li a {
  color: #c5b6b6;
  font-size: 1.2em;
}
.banner .info {
  margin-top: 4%;
  transform: translateY(-15%);
}
.banner .info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-position: top;
}
.banner .info h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--dark-color);
  letter-spacing: 2px;
}
.banner .info p {
  font-size: 1em;
  font-weight: 500;
  color: #aaa;
  letter-spacing: 2px;
}
.banner .info a {
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: #e91d43;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
}
.banner .info a:hover {
  background: #e91e63;
}

/* car packages starts */
.car-packages {
  background: var(--light-bg);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.car-packages .heading-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--dark-color);
  font-size: 4rem;
  font-weight: 700;
}

.car-packages .box-container {
  /* width: 80%; */
  position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 5rem;
}
.car-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
  display: none;
}
.car-packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.car-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.car-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.car-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.car-packages .box-container .box .content .buy-price {
  font-size: 1.75em;
  text-align: center;
  font-weight: 500;
  margin: 0px;
  /* padding: 1rem 0; */
  line-height: 1;
  color: var(--dark-color);
}

.car-packages .box-container .box .content .rent-price {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  margin: 0;
  /* padding: 1rem 0; */
  line-height: 1;
  color: var(--dark-color);
}

.car-packages .box-container .box .content p {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  padding: 1rem 0;
  line-height: 1;
  color: var(--light-black);
}

.car-packages .load-more {
  text-align: center;
  margin-bottom: 5rem;
}
.car-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.car-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.car-packages .box-container .box .swiper-wrapper {
  /* height: 25rem;
  overflow: hidden; */
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.car-packages .box-container .box .swiper-wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: var(--box-shadow);
  border-radius: var(--border);
}

.car-packages .box-container .box .swiper-wrapper .slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.car-packages .box-container .box .swiper-wrapper .slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.car-packages .box-container .box .swiper-wrapper .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--red-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
  /* z-index: 2; */
}

.car-packages .box-container .box .swiper-wrapper .slider-nav a:hover {
  opacity: 1;
}

/* .car-packages .box-container .box .swiper-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* transition: 0.2s linear; 
} */

.car-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.car-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.car-packages .box-container .box .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-black);
}

.car-packages .box-container .box:nth-child(1),
.car-packages .box-container .box:nth-child(2) {
  display: inline-block;
}

/* car packages ends */
